.parent {
    width: 400px;
    height: 250px;
    border: 3px solid gray;
    /* margin: 50px; */
    /* margin-left: 50px; */
    padding: 100px;
    box-sizing: border-box;
}

.child {
    width: 200px;
    height: 120px;
    border: 3px solid blue;
}