.boxes {
    background-color: chocolate;
    width: 900px;
    height: 450px;
    display: flex;
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    justify-content: center;
    gap: 20px;
    align-items: center;

}

.box {
    background-color: cadetblue;
    width: 200px;
    height: 80px;
    border: 1px solid black;
}