.boxes {
    background-color: black;
    width: 800px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boxes .box {
    background-color: aqua;
    width: 220px;
    height: 110px;
    border: 2px solid brown;
}