h1 {
    animation-name: bgSwitch;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes bgSwitch {
    0% {
        background-color: red;
    }
    25% {
        background-color: blue;
    }
    50% {
        background-color: green;
    }
    75% {
        background-color: yellow;
    }
    100% {
        background-color: brown;
    }
}
