.main-carousel {
    width: 100%;
    height: 70vh;
}

.main-carousel .carousel-cell {
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}